<div id="app" class="container">
  <div class="nameArea">
    <i class="fas fa-map-marker"></i>
    Sushi
    {{nameArea}}
    brand
  </div>

  <div class="row">
    <div class="col-md-3">

      <div class="back-button">
        <a href="/company" class="btn btn-secondary">
          <i class="fas fa-arrow-left"></i> Quay lại
        </a>
      </div>

      <div class="card menu mt-4">
        <div class="card-title">
          <i class="fas fa-utensils"></i>
          Menu
        </div>
        <div class="card-body">
         <hr>
          {{#each type}}
          <a href='/company/dish/byarea/{{MaKhuVuc}}?index={{Muc}}&page=1&limit=3' class="custom-link">
            <div class="type">{{Muc}}</div>
          </a>
          {{/each}}
        </div>
      </div>
      <h3>List branch of area:</h3>
      <div class="list-branchs">
        {{#each branchs}}

          <div class="branch">
            <a href="/company/dish/bybranch/{{MaChiNhanh}}?areaID={{KhuVuc}}&page=1&limit=3" >{{TenChiNhanh}}</a>
          </div>
          
        {{/each}}
      </div>
      
    </div>

    <div class="col-md-9">
      <div class="head-menu">
        <div class="title-menu-body">Sashimi combo</div>
        <div class="sort-menu-dish">Sort by Pricing</div>
        <div class="serving-status">Serving status</div>
      </div>

        <div class="listDishArea" id="listDish"> 
        
            {{#each dishes}}
              <div class="flex-dish">
                <div class="dish">

                  <div class="infor-dish">
                    <h2>{{TenMonAn}}</h2>
                    <p>{{MoTa}}</p>
                    <p class ="price">Giá: {{GiaHienTai}}</p>
                  </div>
                
                  <div class="infor-img" > <img src="{{HinhAnh}}" alt="{{TenMonAn}}" /></div>
                </div>
              </div>
            {{/each}}

            <div class="pagination mt-5" id="pagi-hbs">
              {{#if (gt currentPage 1)}}
                  <a href='/company/dish/byarea/{{areaID}}?index={{currentIndex}}&page={{pre_page}}&limit=3' class="page-link">Previous</a>
              {{/if}}

              {{#each (range_minh 1 totalPages)}}
                  {{#if (eq this ../currentPage)}}
                      <span class="page-link active">{{this}}</span>
                  {{else}}
                    <a href='/company/dish/byarea/{{../areaID}}?index={{../currentIndex}}&page={{this}}&limit=3' class="page-link">{{this}}</a>
                  {{/if}}
              {{/each}}

              {{#if (lt currentPage totalPages)}}
                  <a href='/company/dish/byarea/{{areaID}}?index={{currentIndex}}&page={{next_page}}&limit=3' class="page-link">Next</a>
              {{/if}}
              
            </div>
        
          
          
        
        </div>
        
    </div>
  </div>
</div>