<div id="app" class="revenue-container">

    <div class="view-revenue">
        <div class="view-revenue-header">
            <div class="header-col-1">
                Date and time
            </div>

            <div class="header-col-2">
                Revenue (VND)
            </div>

        </div>

        <div class="view-revenue-content">
            {{#each revenue}}
            <div class="revenue">
                <div class="header-col-1">
                    {{#if this.Ngay}}{{this.Ngay}}{{/if}}
                    {{#if this.Thang}}{{this.Thang}}/{{this.Nam}}{{/if}}
                    {{#if this.Nam}}{{this.Nam}}{{/if}}
                </div>
                <div class="header-col-2">{{this.DoanhThu}}</div>

            </div>
            <hr />
            {{/each}}
        </div>

        <div class="view-revenue-footer">
            <div class="revenue-current">
                {{min}}-{{max}}
                of
                {{totalRecords}}
            </div>
            <div class="pagination">
                <a href="{{type}}?branch={{branch}}&page={{previous}}"
                    class="prev-btn">&#60;</a>
                <span class="pagination-info">{{currentPage}} / {{totalPages}} </span>
                <a href="{{type}}?branch={{branch}}&page={{nextPage}}"
                    class="next-btn">&#62;</a>
            </div>
        </div>
    </div>
</div>